__pycache__/generate_reconciliation_matrix.cpython-314.pyc
*.mscx
/__pycache__
# Ignore all MP4 video files for now
*.mp4

# Ignore software installers, executables, and temp folders
*.exe
*.zip
*.dll
*.sf2
temp_*/
__pycache__/
menu-1.js
*.csv
