
.nav {margin-left: 10px; margin-right: 10px; }
.index_td { vertical-aligh: top; text-align: right;}
.atable {margin-left: 10px; margin-right: 10px; width: 100%;  border: 1px lightgrey; border-style: none none none none;}
.btable {margin-left: 10px; margin-right: 10px; width: 100%;  border: 1px black; border-style: none none none none;}
.tdch1 {text-align: left; vertical-align: top; width: 12%; font-weight: bold;
background-color: #f1f1f1;}
.tdch2 {text-align: left; vertical-align: top; width: 22%; font-weight: bold;
background-color: #f1f1f1;}
.tdch3 {text-align: right; vertical-align: top; width: 20%; font-weight: bold;
background-color: #f1f1f1;}
.tdch4 {text-align: left; vertical-align: top; font-weight: bold;
background-color: #f1f1f1;}
.tdch5 {text-align: right; vertical-align: top; font-weight: bold;
background-color: #f1f1f1;}
.tdch6 {text-align: left; vertical-align: top; font-weight: bold;
background-color: #f1f1f1;}
.tdch7 {text-align: left; vertical-align: top; font-weight: bold;
background-color: #f1f1f1;}
.tdch8 {text-align: left; vertical-align: top; font-weight: bold;
background-color: #f1f1f1;}
.tdch9 {text-align: center; vertical-align: top; font-weight: bold;
background-color: #f1f1f1;}

.tdcl1 {text-align: left; vertical-align: top; width: 12%; border: 1px lightgrey; border-style: solid none none none;}
.tdcl2 {text-align: left; vertical-align: top; width: 22%; border: 1px lightgrey; border-style: solid none none none;}
.tdcl3 {text-align: right; vertical-align: top; width: 20%; border: 1px lightgrey; border-style: solid none none none;}
.tdcl4 {padding-left: 12px; text-align: left; width: 33%; vertical-align: top; border: 1px lightgrey; border-style: solid none none none;}
.tdcl5 {text-align: right; vertical-align: top; width: 13%; border: 1px lightgrey; border-style: solid none none none;}
.tdcl6 {text-align: right; vertical-align: top;}
.tdcl7 {text-align: left; padding-left: 6px; vertical-align: top;}
.tdcl8 {text-align: left; vertical-align: top;}
.tdcl9 {text-align: left; vertical-align: top;  grid-column: 4 / span 2;}
.tdcl11 {text-align: left; vertical-align: top; width: 12%; border: 2px lightgrey; border-style: solid none none none;}
.tdcl12 {text-align: left; vertical-align: top; width: 20%; border: 2px lightgrey; border-style: solid none none none;}
.tdcl13 {text-align: right; vertical-align: top; width: 20%; border: 2px lightgrey; border-style: solid none none none;}
.h2c {margin-left: 10px; margin-right: 10px; text-transform: lowercase;}
.level2 {  display: grid; padding: 8px; width:98%;
  grid-template-columns: 20% 20% 15% 20% 25%;
  grid-gap: 4px;}

